# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Backend static files
backend/books.db
backend/static/*
backend/books_storage/**/*
backend/static/audiobooks/*

# Mantener las carpetas vacías con .gitkeep
!backend/books_storage/ebooks/.gitkeep
!backend/books_storage/audiobooks/.gitkeep
!backend/static/.gitkeep
