# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Backend static files
backend/books.db
backend/static/*
backend/books_storage/**/*
backend/static/audiobooks/*

# Database migration files
migrate_db.py
sqlite_books_backup.json
sqlite_progress_backup.json

# Temporary files
temp_files/
temp_files/*
temp_audio/
temp_downloads/

# Mantener las carpetas vacías con .gitkeep
!backend/books_storage/ebooks/.gitkeep
!backend/books_storage/audiobooks/.gitkeep
!backend/static/.gitkeep
